*{
  font-family: 'Noto Sans Thai';
  font-style: normal;
  text-align: center;
  letter-spacing: -0.408px;
  color: #000000;
}
.alert-setting{
  margin-top: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.alarm{
  width: 51.33px;
  height: 44.33px;
}
.page-title{
  letter-spacing: -3px;
  margin-top: 22px;
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
}
.day-setting{
  margin-top: 20px;
  height: 107px;
  background-color: #eee;
}
.timetable{
  margin-top: 23.08px;
  display: flex;
  justify-content: center;
  height: 400px;
  overflow: scroll;
}